@use './settings' as setting;

/*
  En esta capa estarán:
    1. piezas de ui ya diseñadas
    2. colores, tipografías, branding de la marca o empresa
    3. exclusivamente se usaran selectores de clases
*/

.header_container {
  width: auto;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

}

.header_container-head {
  padding-top: 54px;
}

.header_container-body {
  h4 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 1.2px;
  }
}

.header_container-footer {
  color: #FFE9D5;
  font-size: 14px;
}



.container_planes {
  position: absolute;
  top: 305px;
  left: 45.5px;
  z-index: 2000;


}

.planes_button {

  background: #FAF8F7;
  width: 229px;
  height: 48px;
  border: none;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;


}

.planes_button:hover {
  border: #F7931A solid 1px;
}

.section_one {
  background: #e5e5e550;
  text-align: center;
}

.section_one-head {
  display: flex;
  justify-content: center;

  img {
    padding-top: 59px;
  }

}

.section_one-body {
  display: inline-block;
  margin-top: 40px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: #201E1C;
  }

  h6 {
    margin: 15px;
    font-weight: 600;
    font-size: 14px;
    color: #75757596;
  }
}