@use "./settings" as setting;

/*
  En esta capa estarán:
    1. piezas de ui ya diseñadas
    2. colores, tipografías, branding de la marca o empresa
    3. exclusivamente se usaran selectores de clases
*/

// Header
.header__container {
  width: auto;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.header__container-head {
  padding-top: 54px;
}

.header__container-body {
  h4 {
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 1.2px;
  }
}

.header__container-footer {
  color: #ffe9d5;
  font-size: 14px;
}

.container__planes {
  position: relative;
  top: 35px;
  z-index: 2000;
}

.planes__button {
  background: #faf8f7;
  width: 229px;
  height: 48px;
  border: none;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  font-weight: bold;
}

.planes__button:hover {
  border: #f7931a solid 1px;
}

// Section-one
.section__one {
  text-align: center;
}

.section__one-head {
  display: flex;
  justify-content: center;

  img {
    padding-top: 59px;
  }
}

.section__one-body {
  display: inline-block;
  margin-top: 40px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: #201e1c;
    padding-left: 7px;
  }

  h3 {
    margin: 15px;
    font-weight: 600;
    font-size: 14px;
    color: #757575e3;
    line-height: 18px;
    letter-spacing: 0.3px;
  }
}

.section__trending-title {
  p {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 23.44px;
    padding-right: 95px;
    color: #ff9536;
  }
}

.section-trending--table {
  display: grid;
  border: black solid 2px;
  width: 197px;
  height: 159px;
  margin: 0 auto;
}


