@use "./settings" as setting;

/*
  En esta capa estarán:
    1. piezas de ui ya diseñadas
    2. colores, tipografías, branding de la marca o empresa
    3. exclusivamente se usaran selectores de clases
*/

.header-container {
  width: auto;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.header-container--head {
  padding-top: 54px;
}

.header-container--body {
  h4 {
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 1.2px;
  }
}

.header-container--footer {
  color: #ffe9d5;
  font-size: 14px;
}

.container-planes {
  position: relative;
  top: 35px;
  z-index: 2000;
}

.planes__button {
  background: #faf8f7;
  width: 229px;
  height: 48px;
  border: none;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  font-weight: bold;
}

.planes__button:hover {
  border: #f7931a solid 1px;
}

// Section-one
.section-one {
  text-align: center;
}

.section-one--head {
  display: flex;
  justify-content: center;

  img {
    padding-top: 59px;
  }
}

.section-one--body {
  display: inline-block;
  margin-top: 40px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: #201e1c;
    padding-left: 7px;
  }

  h3 {
    margin: 15px;
    font-weight: 600;
    font-size: 14px;
    color: #757575e3;
    line-height: 18px;
    letter-spacing: 0.3px;
  }
}

.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;

  .currency-table--title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.3rem;
    color: #f7931a;
  }
}

.currency-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;

  table {
    width: 100%;
    height: 100%;
  }

  td {
    width: 50%;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.3rem;
    color: #b5b0ac;
    background-color: white;
  }
}
// Box's table //
.currency-table--container {
  .table__top-left {
    border-radius: 15px 0 0 0;
  }

  .table__top-right {
    border-radius: 0 15px 0 0;
  }

  .table__bottom-left {
    border-radius: 0 0 0 15px;
  }

  .table__bottom-right {
    border-radius: 0 0 15px 0;
  }
}

%trending {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--container {
  .table__right {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.3rem;
    color: #666666;
  }
  .down {
    @extend %trending;
    background-image: url("../../assets/icons/trending-down.svg");
  }
  .up {
    @extend %trending;
    background-image: url("../../assets/icons/trending-up.svg");
  }
}

.currency-table--date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #ffe9d4;
  border-radius: 8px;
  p {
    font-size: 13px;
    line-height: 15px;
    color: #201e1c;
  }
}
