$breakPoints: (
    // zero
    zr: 0,
    // mobile
    mb: 320px,
    // landscape
    ls: 576px,
    // tablet
    tb: 768px,
    // desktop
    dt: 992px,
    // extra desktop
    xd: 1200px
    );
    /*
      En esta capa estarán:
        1. configuraciones disponibles globalmente
        2. cambios de configuraciones
        3. colores representativos de la marca o empresa
    */
    
    // Sizes breakpoints

// Line height
$lineHeight: 1.2;

// List of z-index
$zindexs: (
    one: 1000,
    two: 2000,
    three: 3000,
    four: 4000,
    five: 5000,
);

// Colors palette Change for project
    $primary: #F7931A;
    $secondary: #FFFFFF;
    $primaryDark: #201E1C;
    $accentLight: #FFE9D5;
