/*
      En esta capa estarán:
        1. configuraciones disponibles globalmente
        2. cambios de configuraciones
        3. colores representativos de la marca o empresa
    */
$breakPoints: (
    // zero
    zr: 0,
    // mobile
    mb: 320px,
    // landscape
    ls: 576px,
    // tablet
    tb: 768px,
    // desktop
    dt: 992px,
    // extra desktop
    xd: 1200px
);

// Line height
$lineHeight: 1.2;

// List of z-index
$zindexs: (
    one: 1000,
    two: 2000,
    three: 3000,
    four: 4000,
    five: 5000,
);

// Colors palette Change for project

$bitcoinOrange: #ff8f07;
$softOrange: #ffe9d5;
$secondaryBlue: #1a9af7;
$softBlue: #e7f5ff;
$warnBlack: #201e1c;
$warnBlack2: #282623;
$grey: #757575e3;
$softGrey: #bababa;
$offWhite: #faf8f7;
$justWhite: #ffffff;
